@mixin styleCreator($name, $colorFirst, $colorSecond, $backgroundColorFirst) {
  .app.#{$name} {
    .favorite-button {
      &.active {
        background: $colorFirst !important;
      }
    }

    .site-cookie {
      background-color: $backgroundColorFirst;
      box-shadow: inset 2px 2px 20px #00000059, 3px 3px 0px 0px $colorFirst;
      border: 1px $colorFirst solid;

      &-block {
        button {
          border-color: $colorFirst;

          &:hover {
            background: $colorFirst;
          }
        }
      }
    }

    .footer {
      border-top: 1px solid $colorFirst;

      .copyright {
        color: $colorSecond;

        a {
          color: $colorSecond;
        }
      }

      &-menu {
        .ant-menu-light {
          .ant-menu-item {
            &.ant-menu-item-selected {
              a {
                color: $colorFirst;
                box-shadow: inset 0px 0px 2px $colorFirst;
              }
            }
          }
        }

        a {
          &:hover {
            color: $colorFirst;
            box-shadow: inset 0px 0px 2px $colorFirst;
          }
        }
      }
      &-text {
        b {
          color: $colorSecond;
        }
      }
    }

    .about {
      color: $colorSecond;
    }

    .navbar {
      border-bottom: 1px solid $colorFirst;

      &__logo-tracker {
        color: $colorFirst;
      }

      .ant-menu-light {
        .ant-menu-title-content {
          .ant-badge-count {
            background: $colorFirst;
            color: $backgroundColorFirst;
          }
        }

        .ant-menu-item {
          &:hover {
            svg {
              color: $colorFirst;
            }
          }

          &:hover::after {
            border-bottom: 4px solid $colorFirst;
          }
        }

        .ant-menu-item-selected {
          &::after {
            border-bottom: 4px solid $colorFirst;
          }

          svg {
            color: $colorFirst;
          }
        }
      }
    }

    .mainpage {
      .mainpage_left {
        input {
          box-shadow: inset 2px 2px 20px #00000059, 3px 2px 0px 0px rgba($colorFirst, 0.55);
          transition: box-shadow 0.2s ease, border-color 0.2s ease;

          &:focus,
          &:hover,
          &:active,
          &-focused {
            box-shadow: inset 2px 2px 20px #00000059, 3px 2px 0px 0px $colorFirst, 0 0 0 1px rgba($colorFirst, 0.22);
          }
        }

        .ant-input-search .ant-input,
        .ant-input,
        .ant-input-affix-wrapper {
          border-color: rgba($colorFirst, 0.55) !important;
          outline: none !important;
          box-shadow: none !important;
        }

        .ant-input:hover,
        .ant-input:focus,
        .ant-input-focused,
        .ant-input-affix-wrapper:hover,
        .ant-input-affix-wrapper:focus,
        .ant-input-affix-wrapper-focused,
        .ant-input-affix-wrapper:focus-within {
          border-color: $colorFirst !important;
        }

        .ant-input:focus,
        .ant-input-focused,
        .ant-input-affix-wrapper-focused,
        .ant-input-affix-wrapper:focus-within {
          box-shadow: inset 2px 2px 20px #00000059, 3px 2px 0px 0px $colorFirst, 0 0 0 1px rgba($colorFirst, 0.22) !important;
        }
      }

      .chooser {
        .enter-search {
          color: rgba($colorFirst, 0.65);
          transition: color 0.2s ease, transform 0.2s ease;

          &:hover {
            color: #fff;
            transform: scale(1.06);
          }
        }
      }

      .titlehistory {
        color: rgba($colorSecond, 0.7);
      }

      .historycheck_block {
        border-color: rgba($colorFirst, 0.22);
        box-shadow: inset 0 0 0 1px rgba($colorFirst, 0.06);
        transition: border-color 0.2s ease, box-shadow 0.2s ease, background 0.2s ease, transform 0.2s ease;

        &-left {
          img {
            border-color: rgba($colorFirst, 0.38);
            transition: border-color 0.2s ease, transform 0.2s ease;
          }
        }

        .nickname {
          span {
            color: rgba($colorSecond, 0.62);
          }
        }

        &-platform {
          color: rgba($colorSecond, 0.62);
          transition: color 0.2s ease;
        }

        &-mmr {
          color: rgba($colorSecond, 0.62);
          transition: color 0.2s ease;
        }

        &:hover {
          border-color: rgba($colorFirst, 0.62);
          box-shadow: inset 0 0 0 1px rgba($colorFirst, 0.24);
          background: rgba($colorFirst, 0.08);
          transform: translateY(-1px);
        }

        &:hover .historycheck_block-platform {
          color: $colorFirst;
        }

        &:hover .historycheck_block-left img {
          border-color: rgba($colorFirst, 0.82);
          transform: translateY(-1px);
        }
      }
    }
  }
}

@include styleCreator("green", #77f6a7, #65656d, #222222);
@include styleCreator("blue", #00d8d3, #65656d, #0b0b0b);
@include styleCreator("orange", #ffbe29, #65656d, #0b0b0b);
@include styleCreator("brown", #f8ccaf, #65656d, #0b0b0b);
@include styleCreator("red", #f73b5d, #65656d, #161920);
